body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#DDDDDD;
    overflow: hidden;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  /*.mid{
    width: 50%;
    height: 50rem;
    display:flex;
    background-color:blue;
  
  }*/
  .mid{
  
    background-color:#B8BAB6;
    width:99%;
  }
  input[type=text]{
    padding:20px 70px;
    border:none;
    border-radius:10px;
    margin-left:190px;
    margin-right:200px;
  }
  input[type=date]{
    padding:20px 70px;
    border:none;
    border-radius:10px;
    margin-left:190px;
    margin-right:200px;
    
  }
  input[type=number]{
    padding:20px 70px;
    border:none;
    border-radius:10px;
    margin-left:190px;
    margin-right:200px;
  }
  input[type=tel]{
    padding:20px 70px;
    border:none;
    border-radius:10px;
    margin-left:190px;
    margin-right:200px;
  }
  input::placeholder {
    font-weight: bold;
    font-size:17px;
    color: black;
  }
.button1 {
    padding:10px 20px;
    border:none;
    border-radius:15px;
    margin-left:1350px;
    background-color:blue;
    color:white;
    font-weight: bold;
    width:150px;
    font-size:15px;
    margin-bottom: 150px;
  }
  .imgcont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22vh;
    margin-left:600px;
  
    mix-blend-mode: multiply;
  
  }
  input{
    width: 350px;
  }
  #datepick1::placeholder { 
    color:black;
    text-align: center;
  }
  #datepick2::placeholder { 
    color:black;
    text-align: center;
  
  }
  
  
  .btn_grp{
    display: inline;
  }