*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  /* 
   
  /* navbar style start  */
  
  .main-nav {
    width: 99%;
    height: 10rem;
    display:flex;
    background-color:blue;
  }
  
  .logo {
    display: flex;
    justify-content: start;
    align-items:last baseline;
    
  }
  .logo h2 {
      font-size: 2.5rem;
      font-weight: 500;
      color:white;
    }
    
    .logo h2 span {
      font-size: 3.5rem;
    }
    .menu-link ul {
      height: 10rem;
      display: flex;
      justify-content: space-around;
      align-items:last baseline;
    }
    
    .menu-link ul li a {
      font-size: 2.5rem;
      font-weight: 500;
      color:white;
      margin-left:3rem;
    }
    .exit ul {
      height: 10rem;
      display: flex;
      justify-content: space-around;
      align-items:flex-end;
    }
    
    .exit ul li a {
      font-size: 2.5rem;
      font-weight: 500;
      color:white;
      margin-left:67rem;
    }
    
   
  