*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
    .mcls{
        display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       min-height: 100vh;
       background-image: url("https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d29ya3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
    }
    .cls{
        display: flex;
        height: 600px;
        width: 1150px;
        margin:auto;
        margin-top:75px;
        box-shadow: 5px 5px 10px black;
        border-radius: 15px;
        background-color: greenyellow;
       
    }
    .form{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        width: 150%;
        align-items: center;
       
    }  
    .form h2{
        font-size: 32px;
        margin: 5px;
    }
    .box{
        padding: 7px;
        width: 70%;
        margin:15px;
        /* border:1px solid black; */
        margin-bottom: 7px;
        outline: none;
        border-radius:10px;
    }
    #submit{
        padding: 12px 30PX;
        width:15%;
        margin-top: 10px;
        background-color: black;
         color: white;
         font-weight: bold;
         font-display: center;
         border:none;
         outline: none;
        border-radius: 15px;
    }
    #submit:hover{
        cursor: pointer;
        background-color: #750000;
    }
    .form a{
        text-decoration: none;
        color: black;
        margin-top: 5px;
    }
    .form a:hover{
        color:blue;
    }
    .side{
        display: flex;
        justify-content: left;
        margin-right:60px;
        align-items: center;
        width: 100%;
        
    }
    .side img{
        width: 451px;
        height:551px;
        mix-blend-mode: multiply;
    }
