*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    overflow: hidden;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  /* 
   
  /* navbar style start  */
  
  .mn2{
    width: 100%;
    height: 10rem;
    display:flex;
    background-color:darkorchid;
    border-radius: 15px;
    margin-top: 7px;
  } 
  
  .lg2{
    display: flex;
    justify-content: start;
    align-items:last baseline;
    
  }
  .lg2 h2 {
      font-size: 2.5rem;
      font-weight: 500;
      color:white;
    }
    
    .lg2 h2 span {
      font-size: 3.5rem;
    }
    .ml2 ul {
      height: 10rem;
      display: flex;
      justify-content: space-around;
      align-items:last baseline;
    }
    
    .ml2 ul li a {
      font-size: 2.5rem;
      font-weight: 500;
      color:white;
      margin-left:3rem;
    }
    .e2 ul {
      height: 10rem;
      display: flex;
      justify-content: space-around;
      align-items:flex-end;
    }
    
    .e2 ul li a {
      font-size: 2.5rem;
      font-weight: 500;
      color:white;
      margin-left:90rem;
    }
    
   
  
